
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alert alert-warning">
                           Solicitud de Aprobación proyecto: <strong> <%= nombreProyecto %> </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-wrap">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-block">
                                        Estimado <%=nombreUsuario %> en el marco del Proyecto<strong><%= nombreProyecto %> </strong> usted forma parte del equipo del Proyecto con el rol de <strong>  <%= cargo %> </strong> es por esto que lo invitamos a revisar el siguiente link, en el cual encontrara mas detalles del proyecto.
                                    </td>
                                </tr>

                                <tr>
                                    <td class="content-block">
                                        <a href="<%=llave %>" target="_blank" class="btn-primary">Ver documento</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Gerencia de IT
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block"><a href="http://www.mailgun.com">Unsubscribe</a> from these alerts.</td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>